@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@font-face {
  font-family: FiraCode;
  src: url('../../FiraCode-Regular.ttf');
}

.CodeMirror {
  height: auto;
  width: auto;
  text-align: left;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  font-family: 'FiraCode', 'Inconsolata', monospace;
  font-variant-ligatures: contextual;
}

.CodeMirror-scroll {
  overflow: hidden !important;
}

.CodeMirror-lines {
  padding: 15px !important;
}

.code-wrapper {
  margin: 100px auto 50px auto;
  padding: 50px;
  width: auto;
  max-width: 700px;
  display: table;
}
