.CodeMirror {
  height: auto;
  width: auto;
  text-align: left;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
  font-size: 17px;
}

.CodeMirror-scroll {
  overflow: hidden !important;
}

.CodeMirror-lines {
  padding: 15px !important;
}

.code-wrapper {
  padding: 50px;
}

.transparent {
  padding: 1px;
  background: transparent;
  position: relative;
  left: 0;
  right: 0;
  margin: 100px auto;
  color: #fcfcfc;
  width: auto;
  max-width: 700px;
  display: table;
}

/* 
  Cover transparent background to only leave one transparent pixel 
  Avoid JPG compression on Twitter
*/
.cover {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 1px;
}

.cover2 {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  right: 1px;
  bottom: 0;
}
