.nav {
  padding: 15px 100px;
  background: #2b2b2b;
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  margin-right: auto;
  color: #eee;
  font-size: 18px;
}

.accent {
  color: #e74c3c;
  font-weight: bold;
}

button {
  margin: 0 5px;
  padding: 10px 20px;
  height: 40px;
  border: none;
  font-weight: bold;
  border-radius: 100px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.save-snap {
  background: #e74c3c;
  color: #fff;
}

.share-twitter {
  background: #00acee;
  color: #fff;
}

label {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
